body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  height: 50px;
}
.log-btn {
  background-color: #50317f;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700;
  border: 2px solid #50317f;
}
.log-btn:hover {
  background-color: transparent;
  color: #d6b13f;
  border: 2px solid #d6b13f;
}
.nav-bg {
  background-color: darkturquoise !important;
  display: none;
}
.nav-bg2 {
  display: block;
  background-color: #f6f7f8;
}
.nav-top {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
  color: #50317f;
  font-weight: 700;
  padding-top: 2vh;
  background-color: #f6f7f8;
}
