.add-tour input,
.add-tour button,
textarea {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}

.add-tour button {
  border: 2px solid #d6b13f;
  background-color: #d6b13f;
  color: white;
}
.add-tour button:hover {
  background: transparent;
  color: #d6b13f;
}
.add-tour {
  padding: 40px 10px;
}
